nav ul {
    display: flex;
    list-style-type: none;
    font-size: x-large;
    background-color: lightgrey;
}

.push-left {
    margin-right: auto;
    margin-left: 0px;
    font-size: xx-large;
    font-style: oblique;
}

.landing {
    font-size: xx-large;
    font-style: oblique;
    margin: auto;
}

.return {
    font-size: medium;
    font-weight: 300;
}

.flex-container {
    display: flex;
}

.flex-container div {
    height: 160px;
    flex: 1;
}


.block-container {
    display: flex;
    margin: 15px;
    flex-direction: column;
    
}

.block-container div {
    background-color: lightgray;
    border: 3px solid black;
    height: 50px;
    flex: 1;
    margin: 5px;
}



.title {
    text-align: center;
    background-color: lightgray;
    border: 3px solid black;
}

.intro {
    text-align: center;
    font-weight: 800;
    font-style: oblique;
    padding: 15px;
    margin: 15px;
    background-color: lightgray;
    border: 3px solid black;
}

.mb {
    text-align: center;
}

.lps {
    text-align: center;
}

.lcm {
    text-align: center;
}
