div {
    padding: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: black;
    font-size: xx-large;
}

.introduction {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    padding: 8px;
    background-color: wheat;
    color: black;
}

.mb {
    background-color: bisque;
}

.clp {
    background-color: beige;
}

.lcm {
    background-color: blanchedalmond;
}